<!DOCTYPE html>
<html>
  <head>
    <title>Adam Adl</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.15.24/dist/css/uikit.min.css" />
    <link rel="stylesheet" href="../resources/css/nav-bar.css">
    <link rel="stylesheet" href="../resources/css/resume.css">
    <link rel="stylesheet" href="../resources/css/style.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark" id="navbar">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="../views/index.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="../views/hobbies.html">Hobbies</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="../views/projects.html">Projects</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="../views/resume.html">Resume</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <img src="../resources/img/logo.png" alt="Logo" width="60px" id="logo"/>

    <div id="resume">
        <table class="uk-table">
            <h2><b>Adam Adl</b></h2>
            <p>Fort Collins CO, 80526 - 9702906237 - adamadl80526@gmail.com </p>
            <hr>
            <thead>
                <tr><th>Education</th><th>GPA</th><th>Year</th></tr>
            </thead>
            <tbody>
                <tr><td>University of Colorado, Boulder</td><td>3.85</td><td>2021 - Present</td></tr>
                <tr><td>Rocky Mountain High School</td><td>3.95</td><td>2017 - 2021</td></tr>
            </tbody>
        </table>
        <hr>
        <table class="uk-table">
            <thead>
                <tr><th>Professional Experience</th><th>Year</th></tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                      <b>CU Boulder Resident Advisor</b> 
                      <ul><li>Fostered a healthy community in residence life comprised many diverse backgrounds</li><li>Organized events to enhance individual awareness and integrity and set expectations</li><li>Managed all day-to-day operations for a community of 40 residents</li><li>Involved in crisis response rotation, safety, and conducted security rounds of assigned locations </li></ul>
                    </td>
                    <td>Jan. 2023 - Present</td>
                </tr>
                <tr>
                    <td>
                        <b>Black Box Theatre ATLAS</b>
                        <ul><li>Collaborated to develop large scale performances</li><li>Learned the basics of Qlab for lighting and sound effects</li></ul>
                    </td>
                    <td>Sept. 2021 - Dec. 2021</td>
                </tr>
                <tr>
                    <td>
                        <b>Peer Counselor Rocky Mountain High School</b> 
                        <ul><li>Trained to offer support to students in need</li><li>Led presentations to students on a variety of important topics such as sexual harassment, teen suicide, and drug/alcohol issues</li></ul>
                    </td>
                    <td>Aug. 2020 - May 2021</td>
                </tr>
            </tbody>
        </table>
        <hr>
        <table class="uk-table">
            <thead>
                <tr><th>Skills & Attributes</th><th></th></tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <ul>
                            <li>C/C++ and Python</li>
                            <li>JavaScript and NodeJS</li>
                            <li>HTML and CSS</li>
                            <li>Jupyter Notebook</li>
                            <li>LaTeX</li>
                            <li>GitHub</li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li>Photoshop and Adobe XD</li>
                            <li>Microsoft Office Suite</li>
                            <li>Leadership</li>
                            <li>Time Management</li>
                            <li>Multitasking</li>
                            <li>Team Player</li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
        <hr>
        <table class="uk-table">
            <thead>
                <tr><th>Honors & Activities</th><th>Year</th></tr>
            </thead>
            <tbody>
                <tr><td>Engineering Deans List</td><td>2021 - Present</td></tr>
                <tr><td>Global Engineering</td><td>2021 - 2023</td></tr>
                <tr><td>Curtis Johnson Outstanding Band Student Award</td><td>2021</td></tr>
                <tr><td>National Honor Society</td><td>2019-2021</td></tr>
                <tr><td>Thespian International Society</td><td>2019-2021</td></tr>
                <tr><td>Tri-Music National Honor Society</td><td>2019-2021</td></tr>
                <tr><td>Band Leadership</td><td>2019-2021</td></tr>
                <tr><td>Drama/Theatre</td><td>2013-2021</td></tr>
            </tbody>
        </table>
    </div>

      <footer class="bg-light text-center text-white" id="footer">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
          <!-- Section: Social media -->
          <section class="mb-4">
            <!-- Facebook -->
            <a
              class="btn text-white btn-floating m-1"
              href="https://www.facebook.com/adam.adl.92"
              role="button"
              >
              <img id="facebook" src="../resources/img/facebook.png" alt="facebook" width="30px">
            </a>
            <!-- Instagram -->
            <a
              class="btn text-white btn-floating m-1"
              href="https://www.instagram.com/adamadl22/"
              role="button"
              >
              <img id="instagram" src="../resources/img/instagram.png" alt="instagram" width="30px">
            </a>
      
            <!-- Linkedin -->
            <a
              class="btn text-white btn-floating m-1"
              href="https://www.linkedin.com/in/adam-adl-8704951b8/"
              role="button"
              ><img id="linkedin" src="../resources/img/linkedin.png" alt="linkedin" width="30px">
            </a>
            <!-- Github -->
            <a
              class="btn text-white btn-floating m-1"
              href="https://github.com/adamadl"
              role="button"
              ><img id="github" src="../resources/img/github.png" alt="github" width="30px">
            </a>
          </section>
          <!-- Section: Social media -->
        </div>
    </body>
</html>